<UL class=mainNav>
	<LI class=m><A class="nav cur" href="/">首页</A></LI>
	
	<LI class=m><A class=nav href="/page/1">公司简介</A>
		<UL>
			<LI><A class=child href="/page/2">企业荣誉</A> </LI>
			<LI><A class=child href="/page/3">发展历程</A> </LI>
			<LI><A class=child href="/page/4">联系我们</A>
			</LI>
		</UL>
	</LI>
	<LI class=m><A class=nav href="/allproduct">产品中心</A>
		<UL>
			<LI><A class="child parent" href="/allproduct?cat_id=1">电子数码</A>
				<UL>
					<LI><A class=children href="/allproduct?cat_id=4">智能手机</A></LI>
					<LI><A class=children href="/allproduct?cat_id=5">平板电脑</A></LI>
				</UL>
			</LI>
			<LI><A class=child href="/allproduct?cat_id=2">家居百货</A> </LI>
			<LI><A class=child href="/allproduct?cat_id=3">母婴用品</A>
			</LI>
		</UL>
	</LI>

	<LI class=m><A class=nav href="/allnews">文章中心</A>
		<UL>
			<LI><A class=child href="">公司动态</A> </LI>
			<LI><A class=child href="">行业新闻</A>
			</LI>
		</UL>
	</LI>


	<LI class=m><A class=nav href="/page/2">企业荣誉</A>
	</LI>
	<LI class=m><A class=nav href="/page/5">人才招聘</A>
	</LI>
	<LI class=m><A class=nav href="/page/4">联系我们</A>
	</LI>
	<P class=clear></P>
</UL>