BODY {
	BACKGROUND-COLOR: #fff; FONT-FAMILY: Microsoft Yahei, Î¢ÈíÑÅºÚ, ËÎÌå, Arial, Lucida, Verdana, Helvetica, sans-serif; COLOR: #555
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.531; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.531; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.531; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.531; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c70d0e
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
INPUT {
	FONT-FAMILY: Microsoft Yahei; VERTICAL-ALIGN: middle
}
SELECT {
	FONT-FAMILY: Microsoft Yahei; VERTICAL-ALIGN: middle
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
B {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
I {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
LABEL {
	CURSOR: pointer
}
#wrapper .wrap {
	MARGIN: 0px auto; WIDTH: 1000px
}
#wrapper .mb {
	MARGIN-BOTTOM: 50px
}
#pageLeft {
	WIDTH: 180px; FLOAT: left; MARGIN-RIGHT: 20px
}
#pageIn {
	WIDTH: 800px; FLOAT: left; OVERFLOW: hidden
}
#top {
	BORDER-BOTTOM: #dddddd 1px solid; TEXT-ALIGN: right; BACKGROUND-COLOR: #eeeeee; HEIGHT: 30px
}
#top .topNav {
	Z-INDEX: 1000; POSITION: relative; FLOAT: left; HEIGHT: 30px; FONT-SIZE: 13px
}
#top .topNav LI {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: #eeeeee 1px solid; ZOOM: 1; FLOAT: left; BORDER-TOP: #eeeeee 1px solid; BORDER-RIGHT: #eeeeee 1px solid
}
#top .topNav LI.spacer {
	BACKGROUND-COLOR: #bbb; MARGIN: 11px 5px 0px; WIDTH: 1px; HEIGHT: 10px; OVERFLOW: hidden
}
#top .topNav LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; HEIGHT: 28px; COLOR: #333; PADDING-TOP: 0px
}
#top .topNav LI.hover {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: #dddddd 1px solid; BACKGROUND: #ffffff; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid
}
#top .topNav LI.hover S {
	BORDER-LEFT: #fff 1px solid
}
#top .topNav UL {
	BORDER-BOTTOM: #dddddd 1px solid; POSITION: absolute; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 4px; WIDTH: 100%; DISPLAY: none; BACKGROUND: #ffffff; BORDER-TOP: 0px; TOP: 100%; BORDER-RIGHT: #dddddd 1px solid; LEFT: -1px
}
#top .topNav UL LI {
	FLOAT: none
}
#top .topNav LI.hover UL LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#top .topNav LI.hover UL LI A {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
#top .search {
	FLOAT: right; _width: 205px
}
#top .search .searchBox {
	BORDER-BOTTOM: #545454 1px solid; BORDER-LEFT: #545454 1px solid; BACKGROUND-COLOR: #545454; PADDING-LEFT: 10px; HEIGHT: 28px; BORDER-TOP: #545454 1px solid; BORDER-RIGHT: #545454 1px solid
}
#top .search .searchBox .keyword {
	BACKGROUND-COLOR: #545454; COLOR: #cccccc
}
#top .search .searchBox .btnSearch {
	BACKGROUND-COLOR: #545454
}
#header {
	Z-INDEX: 1000; BORDER-BOTTOM: #dddddd 1px solid; POSITION: relative; MIN-HEIGHT: 55px
}
#header .logo {
	FLOAT: left
}
#header .mainNav {
	Z-INDEX: 1001; POSITION: relative; MARGIN-TOP: 15px; FLOAT: right; HEIGHT: 30px; FONT-SIZE: 14px
}
#header .mainNav LI {
	POSITION: relative
}
#header .mainNav .m {
	ZOOM: 1; FLOAT: left; HEIGHT: 30px; _width: 100px
}
#header .mainNav .nav {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; HEIGHT: 30px; COLOR: #333; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#header .mainNav .hover .nav {
	POSITION: relative; BACKGROUND: #19b4ea; COLOR: #fff
}
#header .mainNav .cur {
	POSITION: relative; BACKGROUND: #19b4ea; COLOR: #fff
}
#header .mainNav UL {
	POSITION: absolute; DISPLAY: none; BACKGROUND: #e0e0e0; TOP: 100%; LEFT: 0px
}
#header .mainNav UL LI {
	_float: left
}
#header .mainNav .child {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; HEIGHT: 30px; COLOR: #333; PADDING-TOP: 0px
}
#header .mainNav .hover .hover .child {
	BACKGROUND: #19b4ea; COLOR: #fff
}
#header .mainNav .parent {
	BACKGROUND: url(images/icon_main_nav.png) no-repeat 85px top
}
#header .mainNav .hover .hover .parent {
	BACKGROUND: url(images/icon_main_nav.png) #19b4ea no-repeat 85px bottom
}
#header .mainNav UL UL {
	MIN-WIDTH: 98px; TOP: 0px; LEFT: 100%; _width: 98px
}
#header .mainNav .children {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; HEIGHT: 30px; COLOR: #333; PADDING-TOP: 0px
}
#header .mainNav .hover .hover .hover .children {
	BACKGROUND: #19b4ea; COLOR: #fff
}
#index .indexBox {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 15px
}
#index .bg.indexBox {
	PADDING-BOTTOM: 35px; BACKGROUND-COLOR: #f5f5f5; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 25px
}
#index .indexBox H3 {
	POSITION: relative; HEIGHT: 30px; COLOR: #333
}
#index .indexBox H3 EM {
	FONT-SIZE: 20px; FONT-WEIGHT: bold
}
#index .indexBox H3 .more {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 21px; BACKGROUND-COLOR: #19b4ea; WIDTH: 90px; BOTTOM: 3px; DISPLAY: block; COLOR: #fff; RIGHT: 0px; FONT-WEIGHT: normal
}
#index .indexBox H3 .more:hover {
	BACKGROUND-COLOR: #0072c6; COLOR: #fff; TEXT-DECORATION: none
}
#index .recProduct {
	WIDTH: 570px; PADDING-RIGHT: 30px; FLOAT: left; BORDER-RIGHT: #eeeeee 1px solid
}
#index .recProduct .list {
	ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 20px
}
#index .recProduct .list DL {
	WIDTH: 130px; FLOAT: left; HEIGHT: 200px; MARGIN-RIGHT: 16px
}
#index .recProduct .list DL.noMargin {
	MARGIN-RIGHT: 0px
}
#index .recProduct .list DL DD.img {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; MARGIN-BOTTOM: 8px; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; _padding-bottom: 1px
}
#index .recProduct .list DL DD.img IMG {
	WIDTH: 128px; HEIGHT: 127px
}
#index .recArticle {
	TEXT-ALIGN: left; WIDTH: 360px; FLOAT: right
}
#index .recArticle .list {
	PADDING-TOP: 15px
}
#index .recArticle .list LI {
	BORDER-BOTTOM: #d1d1d1 1px dotted; PADDING-BOTTOM: 13px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MARGIN-BOTTOM: 13px; PADDING-TOP: 0px
}
#index .recArticle .list LI B {
	FLOAT: right; COLOR: #999999
}
#index .recArticle .list LI.last {
	BORDER-BOTTOM: 0px
}
#index .about {
	WIDTH: 680px; FLOAT: left
}
#index .about H1 {
	COLOR: #0072c6; FONT-SIZE: 20px
}
#index .about .desc {
	LINE-HEIGHT: 200%; MARGIN: 15px 0px; COLOR: #666666
}
#index .contact {
	TEXT-ALIGN: left; WIDTH: 270px; FLOAT: right; PADDING-TOP: 45px
}
#index .contact H2 {
	TEXT-ALIGN: center; WIDTH: 80px; BACKGROUND: url(images/icon_contact.png) #19b4ea no-repeat center 12px; FLOAT: left; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: normal; PADDING-TOP: 40px
}
#index .contact UL {
	TEXT-ALIGN: left; WIDTH: 170px; FLOAT: right; COLOR: #666
}
#index .contact UL LI {
	MARGIN-BOTTOM: 8px
}
#index .link {
	MARGIN-BOTTOM: 10px
}
#index .link STRONG {
	COLOR: #7a7f81; FONT-WEIGHT: bold
}
#index .link A {
	COLOR: #555
}
#page {
	PADDING-BOTTOM: 20px; MIN-HEIGHT: 400px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
#page H1 {
	COLOR: #333333; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
#page .info {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #999999; FONT-SIZE: 13px; PADDING-TOP: 2px
}
#page .content {
	LINE-HEIGHT: 200%; COLOR: #666666; PADDING-TOP: 10px
}
#page .content IMG {
	MAX-WIDTH: 100%
}
#productList {
	COLOR: #999999; PADDING-TOP: 20px
}
#productList DL {
	MARGIN: 0px 30px 30px 0px; WIDTH: 380px; FLOAT: left; HEIGHT: 135px
}
#productList DL.noMargin {
	MARGIN-RIGHT: 0px
}
#productList DT {
	WIDTH: 135px; FLOAT: left
}
#productList DD {
	MARGIN-LEFT: 155px; PADDING-TOP: 10px
}
#productList DT IMG {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; WIDTH: 135px; HEIGHT: 135px; BORDER-TOP: #eeeeee 1px solid; BORDER-RIGHT: #eeeeee 1px solid
}
#productList .name {
	HEIGHT: 18px; FONT-SIZE: 14px; OVERFLOW: hidden
}
#productList .name A {
	COLOR: #333333; FONT-WEIGHT: bold
}
#productList .brief {
	HEIGHT: 60px; COLOR: #999999; PADDING-TOP: 8px
}
#productList .price {
	PADDING-BOTTOM: 10px
}
#product {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
#product .productImg {
	WIDTH: 300px; FLOAT: left
}
#product .productInfo {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 200%; PADDING-LEFT: 15px; WIDTH: 465px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 10px
}
#product .productInfo H1 {
	FONT-SIZE: 18px
}
#product .productInfo UL {
	MARGIN-BOTTOM: 50px; PADDING-TOP: 10px
}
#product .productInfo .productPrice {
	MARGIN-BOTTOM: 5px
}
#product .productInfo .productPrice .price {
	FONT-FAMILY: Arial; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
#product .productInfo .btnAsk {
	ZOOM: 1; OVERFLOW: hidden
}
#product .productInfo .btnAsk DT {
	TEXT-ALIGN: right; LINE-HEIGHT: 39px; BACKGROUND-COLOR: #e0e0e0; WIDTH: 88px; PADDING-RIGHT: 3px; FLOAT: left; HEIGHT: 39px; COLOR: #333; FONT-WEIGHT: bold; MARGIN-RIGHT: 6px
}
#product .productInfo .btnAsk DD {
	WIDTH: 300px; FLOAT: left
}
#product .productInfo .btnBuy {
	MARGIN-BOTTOM: 40px
}
#product .productInfo .btnBuy .addToCart {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 50px; PADDING-RIGHT: 25px; BACKGROUND: url(images/btn_addtocart.png) #19b4ea no-repeat 20px 50%; COLOR: #ffffff; FONT-SIZE: 16px; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 8px
}
#product .productInfo .btnBuy .addToCart:hover {
	BACKGROUND-COLOR: #44c4ee
}
#product .productContent {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
#product .productContent H3 {
	BORDER-BOTTOM: #cbd1d3 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #333; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 30px
}
#product .productContent UL {
	PADDING-BOTTOM: 15px; LINE-HEIGHT: 200%; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666; PADDING-TOP: 15px
}
#product .productContent IMG {
	MAX-WIDTH: 100%
}
#articleList DL {
	BORDER-BOTTOM: #d1d1d1 1px dotted; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 20px
}
#articleList DL.last {
	BORDER-BOTTOM: 0px
}
#articleList DT {
	WIDTH: 620px; MARGIN-BOTTOM: 10px; FONT-SIZE: 14px
}
#articleList DD {
	LINE-HEIGHT: 180%; ZOOM: 1; COLOR: #999999; OVERFLOW: hidden
}
#articleList DD P {
	FLOAT: left
}
#articleList DD P.img {
	MARGIN-RIGHT: 10px
}
#articleList DD P.desc {
	WIDTH: 590px
}
#articleList .numDate {
	TEXT-ALIGN: right; FLOAT: right; PADDING-TOP: 12px
}
#articleList .numDate EM {
	PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #0072c6; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
#articleList .numDate P {
	MARGIN-TOP: 5px; COLOR: #999999; FONT-SIZE: 16px
}
#article {
	PADDING-BOTTOM: 15px; MIN-HEIGHT: 400px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
#article H1 {
	COLOR: #333333; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
#article .info {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #999999; FONT-SIZE: 13px; PADDING-TOP: 2px
}
#article .content {
	LINE-HEIGHT: 180%; COLOR: #666666
}
#article .content IMG {
	MAX-WIDTH: 100%
}
#douMsg {
	PADDING-BOTTOM: 100px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
#douMsg DL {
	BORDER-BOTTOM: #e4e4e4 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 200px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 160px
}
#douMsg DT {
	MARGIN-BOTTOM: 30px; COLOR: #0072c6; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
#douMsg DD {
	COLOR: #666
}
#douMsg DD A {
	COLOR: #000; MARGIN-LEFT: 5px
}
.captcha {
	TEXT-TRANSFORM: uppercase
}
#vcode {
	CURSOR: pointer
}
.clear {
	LINE-HEIGHT: 0; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px
}
.none {
	DISPLAY: none
}
.cue {
	COLOR: red; FONT-SIZE: 12px
}
.price {
	COLOR: #cc0000
}
.btn {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; TEXT-TRANSFORM: capitalize; BACKGROUND-COLOR: #0072c6; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; DISPLAY: inline-block; COLOR: #eee; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 6px; -webkit-appearance: none
}
.btn:hover {
	BACKGROUND-COLOR: #007ad5; COLOR: #ffffff; TEXT-DECORATION: none
}
.btnGray {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 6px; TEXT-TRANSFORM: capitalize; BACKGROUND-COLOR: #ccc; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline-block; COLOR: #333; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px; PADDING-TOP: 6px; -webkit-appearance: none
}
.btnPayment {
	TEXT-ALIGN: center; PADDING-BOTTOM: 7px; TEXT-TRANSFORM: capitalize; BACKGROUND-COLOR: #ff4246; PADDING-LEFT: 28px; PADDING-RIGHT: 28px; DISPLAY: inline-block; COLOR: #fff; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 7px; -webkit-appearance: none
}
.textInput {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 6px; BACKGROUND-COLOR: #f4f4f4; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; HEIGHT: 20px; COLOR: #666; FONT-SIZE: 14px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 6px; -webkit-appearance: none
}
.textArea {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #f4f4f4; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 4px; -webkit-appearance: none
}
.textAreaAuto {
	BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #f4f4f4; MIN-HEIGHT: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 1px solid; PADDING-TOP: 0px; -webkit-appearance: none; resize: none
}
.urHere {
	BORDER-BOTTOM: #ddd 1px solid; LINE-HEIGHT: 35px; HEIGHT: 35px; COLOR: #999999; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 15px
}
.urHere A {
	COLOR: #999999
}
.urHere B {
	MARGIN: 0px 8px
}
.treeBox {
	MARGIN-BOTTOM: 15px
}
.treeBox H3 {
	BORDER-BOTTOM: #ddd 1px solid; LINE-HEIGHT: 35px; MARGIN-BOTTOM: 15px; HEIGHT: 35px; COLOR: #999999; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 15px
}
.treeBox LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 5px
}
.treeBox LI A {
	COLOR: #000; FONT-SIZE: 14px
}
.treeBox LI.cur {
	BACKGROUND-COLOR: #19b4ea
}
.treeBox LI.cur A {
	COLOR: #fff
}
.treeBox .search {
	MARGIN: 20px 0px
}
.treeBox .search .keyword {
	WIDTH: 136px
}
.searchBox {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; HEIGHT: 28px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid
}
.searchBox {
	POSITION: relative; WHITE-SPACE: normal
}
.searchBox LABEL {
	Z-INDEX: -1; POSITION: absolute; LINE-HEIGHT: 0; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; WIDTH: 0px; HEIGHT: 0px; FONT-SIZE: 0px; OVERFLOW: hidden
}
.searchBox .keyword {
	COLOR: #cccccc
}
.searchBox .keyword:focus {
	COLOR: #555
}
.searchBox .btnSearch {
	TEXT-INDENT: -999px; WIDTH: 28px; BACKGROUND: url(images/icon_search.png) no-repeat 50% 50%; HEIGHT: 28px; OVERFLOW: hidden; CURSOR: pointer
}
.tableBasic {
	BORDER-LEFT: #dddddd 1px solid; BORDER-COLLAPSE: collapse; COLOR: #666666; BORDER-TOP: #dddddd 1px solid
}
.tableBasic SELECT {
	COLOR: #8f8f8f
}
.tableBasic TD {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid
}
.tableBasic TH {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid
}
.tableBasic TH {
	BACKGROUND-COLOR: #efefef
}
.tableBasic .child {
	BACKGROUND-COLOR: #ffffff
}
.tableBasic TD LABEL {
	MARGIN-RIGHT: 15px
}
.tableBasic TD I {
	COLOR: #f00; MARGIN-LEFT: 5px; FONT-WEIGHT: bold
}
.tableDiv DL {
	ZOOM: 1; MARGIN-BOTTOM: 15px; OVERFLOW: hidden
}
.tableDiv DL DT {
	TEXT-ALIGN: right; LINE-HEIGHT: 34px; WIDTH: 160px; FLOAT: left; FONT-SIZE: 13px
}
.tableDiv DL DD {
	PADDING-LEFT: 10px; WIDTH: 640px; FLOAT: left
}
.tableDiv DL DD I {
	COLOR: #f00; MARGIN-LEFT: 5px; FONT-WEIGHT: bold
}
.tableDiv DL DD LABEL {
	LINE-HEIGHT: 34px; MARGIN-RIGHT: 15px
}
.lift {
	MARGIN-TOP: 60px; COLOR: #999; FONT-SIZE: 14px
}
.lift A {
	COLOR: #999
}
.lift SPAN {
	MARGIN-RIGHT: 15px
}
.pager {
	TEXT-ALIGN: right; COLOR: #666; FONT-SIZE: 14px; PADDING-TOP: 20px
}
.pager A {
	COLOR: #666; TEXT-DECORATION: underline
}
.slideShow {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px auto 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.slideShow .slides A {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; HEIGHT: 350px
}
.slideShow .slideBox {
	BACKGROUND: #fff; -webkit-transform: translatez(0); -moz-transform: translatez(0); -ms-transform: translatez(0); -o-transform: translatez(0); transform: translatez(0)
}
.slideShow .slideLoading {
	Z-INDEX: 60; POSITION: absolute; MIN-HEIGHT: 50px; WIDTH: 100%; BACKGROUND: url(images/slide_loader.gif) #fff no-repeat center center; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
.slideShow .arrowBox A {
	Z-INDEX: 70; POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 40px; BACKGROUND-COLOR: #333; WIDTH: 40px; BOTTOM: 50%; DISPLAY: block; FONT-FAMILY: ËÎÌå, sans-serif; MARGIN-BOTTOM: -20px; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 2em; TEXT-DECORATION: none
}
.slideShow .arrowBox A.disabled {
	DISPLAY: none
}
.slideShow .arrowBox .arrowPrev {
	LEFT: 20px
}
.slideShow .arrowBox .arrowNext {
	RIGHT: 20px
}
.slideShow .arrowBox A:hover {
	
}
.slideShow .controlBox {
	Z-INDEX: 70; POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; BOTTOM: 10px; FONT-FAMILY: Arial; COLOR: #666; FONT-SIZE: 0.85em; FONT-WEIGHT: bold
}
.slideShow .controlBox .control {
	DISPLAY: inline-block
}
.slideShow .controlDefault.controlBox A {
	TEXT-INDENT: -9999px; WIDTH: 20px; DISPLAY: block; BACKGROUND: url(images/inactive.png) no-repeat 50% 50%; HEIGHT: 30px; CLEAR: none; OVERFLOW: hidden
}
.slideShow .controlDefault.controlBox A:hover {
	BACKGROUND: url(images/active.png) no-repeat 50% 50%
}
.slideShow .controlDefault.controlBox A.active {
	BACKGROUND: url(images/active.png) no-repeat 50% 50%
}
.slideShow .slideTitle {
	Z-INDEX: 70; POSITION: absolute; WIDTH: 100%; BOTTOM: 0px; BACKGROUND: #666; LEFT: 0px
}
.slideShow .slideTitle SPAN {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #fff; FONT-SIZE: 0.85em; PADDING-TOP: 15px
}
.slideShow .sileThumb {
	Z-INDEX: 70; POSITION: absolute; TEXT-ALIGN: center; BOTTOM: 8px; RIGHT: 8px
}
.slideShow .sileThumb A {
	MARGIN: 0px 3px
}
.slideShow .sileThumb A IMG {
	BORDER-BOTTOM: #b0b0b0 1px solid; BORDER-LEFT: #b0b0b0 1px solid; BORDER-TOP: #b0b0b0 1px solid; BORDER-RIGHT: #b0b0b0 1px solid
}
.slideShow .sileThumb A.active IMG {
	BORDER-BOTTOM: #19b4ea 1px solid; BORDER-LEFT: #19b4ea 1px solid; BORDER-TOP: #19b4ea 1px solid; BORDER-RIGHT: #19b4ea 1px solid
}
#douBox .boxBg {
	Z-INDEX: 10000001; POSITION: fixed; FILTER: alpha(opacity=15); WIDTH: 100%; BACKGROUND: #000; HEIGHT: 100%; TOP: 0px; LEFT: 0px; opacity: 0.15
}
#douBox .boxFrame {
	Z-INDEX: 10000002; BORDER-BOTTOM: #c4c4c4 2px solid; POSITION: absolute; BORDER-LEFT: #c4c4c4 2px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; WIDTH: 360px; PADDING-RIGHT: 0px; MARGIN-LEFT: -180px; OVERFLOW: hidden; BORDER-TOP: #c4c4c4 2px solid; TOP: 300px; BORDER-RIGHT: #c4c4c4 2px solid; PADDING-TOP: 0px; LEFT: 50%
}
#douBox .boxFrame H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f5f5f5; HEIGHT: 28px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
#douBox .boxFrame H2 .close {
	MARGIN-TOP: 8px; TEXT-INDENT: -9999px; WIDTH: 12px; DISPLAY: block; BACKGROUND: url(images/icon_fork.png) no-repeat; FLOAT: right; HEIGHT: 12px
}
#douBox .boxFrame .boxCon {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 70px; PADDING-RIGHT: 10px; BACKGROUND: url(images/icon_exclamation.png) no-repeat 15px 15px; HEIGHT: 100px; PADDING-TOP: 13px
}
#douBox .boxFrame .boxCon DT {
	FONT-FAMILY: Microsoft YaHei; COLOR: #19b4ea; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
#douBox .boxFrame .boxCon DD {
	ZOOM: 1; COLOR: #999; OVERFLOW: hidden
}
#douBox .boxFrame .boxCon DD A {
	BORDER-BOTTOM: #cbd1d3 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cbd1d3 1px solid; LINE-HEIGHT: 26px; BACKGROUND-COLOR: #f5f5f5; MARGIN: 10px 12px 0px 0px; WIDTH: 70px; DISPLAY: block; FLOAT: left; BORDER-TOP: #cbd1d3 1px solid; BORDER-RIGHT: #cbd1d3 1px solid; TEXT-DECORATION: none
}
#onlineService {
	Z-INDEX: 999999; POSITION: fixed; DISPLAY: block; TOP: 208px; RIGHT: 0px; _position: absolute
}
#onlineService .onlineIcon {
	POSITION: relative; TEXT-INDENT: -9999px; WIDTH: 34px; BACKGROUND: url(images/online_service.png) no-repeat; HEIGHT: 110px; OVERFLOW: hidden; CURSOR: pointer
}
#onlineService #pop {
	Z-INDEX: 999999; BORDER-BOTTOM: #19b4ea 3px solid; POSITION: absolute; BORDER-LEFT: #19b4ea 3px solid; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #f2f2f2; MIN-HEIGHT: 84px; PADDING-LEFT: 8px; WIDTH: 95px; PADDING-RIGHT: 8px; DISPLAY: none; BORDER-TOP: #19b4ea 3px solid; TOP: 0px; RIGHT: 34px; BORDER-RIGHT: #19b4ea 3px solid; PADDING-TOP: 8px
}
#onlineService .onlineQQ A {
	LINE-HEIGHT: 23px; PADDING-LEFT: 27px; WIDTH: 82px; DISPLAY: block; MARGIN-BOTTOM: 8px; BACKGROUND: url(images/online_service.png) no-repeat left -160px; HEIGHT: 24px; COLOR: #19b4ea
}
#onlineService .onlineQQ A:hover {
	COLOR: #19b4ea; TEXT-DECORATION: none
}
#onlineService .service {
	COLOR: #666; BORDER-TOP: #dddddd 1px solid; PADDING-TOP: 8px
}
#onlineService .service A {
	COLOR: #666
}
#onlineService .service LI {
	PADDING-LEFT: 8px; BACKGROUND: url(images/online_service.png) no-repeat left -202px
}
#onlineService .goTop {
	DISPLAY: none
}
#onlineService .goTop .goBtn {
	WIDTH: 34px; DISPLAY: block; BACKGROUND: url(images/online_service.png) #f2f2f2 no-repeat left -120px; HEIGHT: 34px
}
#footer {
	PADDING-BOTTOM: 30px; BACKGROUND-COLOR: #f5f5f5; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; BORDER-TOP: #ddd 1px solid; PADDING-TOP: 30px
}
#footer .footNav {
	MARGIN-BOTTOM: 10px
}
#footer .footNav A {
	COLOR: #333
}
#footer .footNav I {
	MARGIN: 0px 12px; COLOR: #cacaca
}
#footer .footNav A.first {
	MARGIN-LEFT: 0px
}
#footer .copyRight {
	FONT-FAMILY: Arial, Lucida, Verdana, Helvetica, sans-serif; COLOR: #888
}
#footer .copyRight A {
	FONT-FAMILY: Arial, Lucida, Verdana, Helvetica, sans-serif; COLOR: #888
}
